<!Doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <meta name="format-detection" content="telephone=no,email=no">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body class="wrapper">
    <div id="shopping_main">
        <div id="header">
            <div id="home"><a href="home.html">好邻居</a></div>
            <div class="car_theme" id="car_edit" @click="editCart">{{isEdit ? '完成' : '编辑'}}</div>
            <div id="my"><a href="personalcenter.html"></a></div>
        </div>
        <div id="shoppingcar">
            <div id="main">
                <ul id="shopping_list">
                    <li class="select" :data-id="item.id" v-for="(item, i) in cartList">
                        <div :class="{'no_select': true, 'select_ok': selectedProducts.includes(item.productId)}" @click="() => selectRow(item.productId)"></div>
                        <div class="shopping_img"><a :href="'./detail.html?productId='+ item.productId"><img :src="item.imgUrl"></a></div>
                        <div class="shopping_box">
                            <h2>{{ item.shopName }}</h2>
            
                            <div class="shopping_box_bottom">
                                <div class="unit_price">￥<span>{{ item.price.toFixed(2) }}</span></div>
                                <div class="number" v-if="!isEdit" @click="showEditNum = true">x<span>{{ item.num }}</span></div>
                                <!--编辑状态加减框-->
                                <div class="number_content" v-else>
                                    <div class="minus_icon js_minus" @click="minusNum(item, i)"></div>
                                    <div class="number_edit">{{ item.num }}</div>
                                    <div class="add_icon js_add" @click="addNum(item, i)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="floatbar_bottom">
                <div id="select_all" class="select">
                    <div :class="{'select_all': true, 'no_select': true, 'select_ok': isCheckAll}" @click="selectAll"></div>
                    <div class="select_all_txt">全选</div>
                </div>
                <div id="total_box"><!---->
                    <div>￥<span id="pay_account"></span>{{amount}}</div>
                    <div id="total_txt">合计</div>
                </div>
                <div id="account_btn" v-if="!isEdit" @click="goToPay">去结算</div>
                <div id="delete_btn" v-else="isEdit" @click="confirmDeleteCart">删除</div>
            </div>
            <!--+-数量弹框-->
            <div class="pop_wrapper" v-show="showEditCount" id="add_minus_Pop">
                <div class="pop_con">
                    <h2>请输入数量</h2>

                    <div class="number_box">
                        <div class="number_minus js_minus"></div>
                        <input type="number" id="number_input" value="1">

                        <div class="number_add js_add"></div>
                    </div>
                    <div class="pop_btn" id="number_Btn">
                        <div class="pop_remove_btn">取消</div>
                        <div class="pop_sure_btn">确定</div>
                    </div>
                </div>
            </div>
            <div class="pop_wrapper" v-show="confirmDelete" id="sure_Del">
                <div class="pop_con">
                    <h2>确定删除这<span></span>件商品吗？</h2>

                    <div class="pop_btn" id="sure_Del_btn">
                        <div class="pop_remove_btn" @click="confirmDelete = false">考虑一下</div>
                        <div class="pop_sure_btn" @click="deleteCart">确定</div>
                    </div>
                </div>
            </div>
            <div class="pop_wrapper" v-show="showEmpty" id="none_Select" @click="showEmpty = false">
                <div class="pop_con">
                    <h2>您还没有选择商品哦！</h2>
                </div>
            </div>
        </div>
        
        <!--购物车为空-->
        <div id="empty_cart" v-show="!cartList.length">
            <div id="empty">购物车空空如也T.T</div>
            <div class="btn_box" id="goto_shop"><a href="home.html">去逛逛</a></div>
        </div>

    </div>
    <script src="../js/libs/zepto.js"></script>
    <script src="../js/libs/vue.js"></script>
    <script src="../js/libs/flexible.js"></script>
    <script src="../js/libs/store.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/shoppingCar.js"></script>
</body>

</html>